.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 992px) {
    .nav-item {
      height: 100%;
      margin-right: 50px;
      margin-bottom: 0; } }
  .nav-item__text {
    transition: all 0.2s; }
  .nav-item__text:hover {
    transform: translateY(-3px);
    filter: brightness(85%); }
  .nav-item__text:active {
    transform: translateY(0); }
  .nav-item__active {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 5px;
    background-color: #1BCBB7; }
    @media (min-width: 992px) {
      .nav-item__active {
        height: 5px;
        width: 100%; } }

.nav-container {
  position: sticky;
  z-index: 100000;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #032055; }
  @media (min-width: 992px) {
    .nav-container {
      height: 60px; } }

.nav {
  background-color: #032055;
  position: absolute;
  display: none;
  flex-direction: column;
  align-content: flex-end;
  padding: 20px 20px !important;
  right: 0;
  top: 40px; }
  @media (min-width: 992px) {
    .nav {
      display: flex;
      position: relative;
      top: 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 !important; } }
  .nav a {
    padding: 0 3px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .nav a {
        font-size: 18px;
        letter-spacing: 1.25px; } }
  .nav__sign-in {
    padding: 5px 20px !important;
    border-radius: 40px;
    background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 50%, #A772FF 100%);
    font-size: 14px !important;
    transition: all 0.2s; }
    @media (min-width: 992px) {
      .nav__sign-in {
        font-size: 18px !important;
        padding: 5px 20px !important; } }
  .nav__sign-in:hover {
    filter: hue-rotate(45deg); }
  .nav__sign-in:active {
    transform: translateY(3px); }

.nav-icon {
  font-size: 24px;
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }
  @media (min-width: 992px) {
    .nav-icon {
      display: none !important; } }
