.footer{
    padding: 40px 20px;
    background-color: #032055;

    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    @media (min-width: 576px) {
        font-size: 16px;
        letter-spacing: 1.25px;
    }

    .footer__title{
        display: inline-block;
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 15px;

        background: -webkit-linear-gradient(0deg, #1BCBB7 0%, #32ABFF 50%, #A772FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .footer__location{
        margin-bottom: 10px;
    }
    .footer__phone{
        margin-bottom: 10px;
    }
    .footer__social-icon{
        font-size: 28px;
        margin-bottom: 10px;
        a{
            text-decoration: none;
            color: #2E3A59;

        }
        & a:not(:last-child){
            margin-right: 5px;
        }
    }
}